<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #667c91e0">
  <a class="navbar-brand" routerLink="/">Vote For</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/candidate">Add Candidate <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/vote-for">Give Vote <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/result">Vote Result <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div class="jumbotron text-center footer" style="margin-bottom:0">
    <p>Copyright 2019 @ REEMA</p>
</div> -->